
<h1 class="display-4">Data editing</h1>
<form action="/admin/pages/{{page.id}}/edit" method="POST">
	<div class="form-group">
		<label for="name">Title</label>
			<input class="form-control" name="name" value="{{page.name}}" id="name" type="text" required="required">
	</div>
	<div class="form-group">
		{{# if error }}
			<p class="alert alert-danger">{{ this.error }}</p>
		{{/if}}
		<label for="slug">Url slug</label>
		<input class="form-control" name="slug" value="{{page.slug}}" id="slug" type="text" pattern="^[a-z0-9]+(?:-[a-z0-9]+)*$" required="required">
		<small id="emailHelp" class="form-text text-muted">Slug should be without spaces, unique, lowercase  </small>
	</div>
	<div class="form-group">
		<label for="meta">Meta description</label>
		<input class="form-control" name="meta" value="{{page.meta}}" id="meta" type="text" required="required">
	</div>
		<div class="form-group">
			<label for="content"></label><textarea  name="content" id="content" type="text">{{page.content}}</textarea>
		</div>
	<a  class="nav-link" href="/admin/pages">To pages list</a>
	<button class="btn btn-primary" type="submit" name="action">Submit</button>
</form>

