<body>
<h1 class="display-4">page list</h1>
<a  class="btn btn-info " href="/admin/pages/create">Add page</a>
<a class="btn btn-secondary float-right" href="/security/logout">Signout</a>
<table class="table table-striped">
	<thead class="thead-dark">
	<tr>
		<th scope="col">id</th>
		<th scope="col">title</th>
		<th scope="col">url slug</th>
		<th scope="col">link</th>
		<th scope="col">Action</th>
	</tr>
	</thead>
	{{#each pages}}
		<tr>
			<td>{{this.id}} </td>
			<td>{{this.name}}</td>
			<td>{{this.slug}}</td>
			<td><a class="btn btn-info" href="/{{this.slug}}">Link</a></td>
			<td>
				<a class="btn btn-warning" href="/admin/pages/{{this.id}}/edit">Edit</a>
				<form action="/admin/pages/{{this.id}}/delete" method="POST" style="display:inline;">
					<input type="submit" value="Delete" class="btn btn-danger"/>
				</form>
			</td>
		</tr>
	{{/each}}
</table>
</body>
